.form {
  text-align: right;
}

.form button {
  font: inherit;
  cursor: pointer;
  background-color: #81b945;
  border: 1px solid #81b945;
  color: white;
  padding: 0.25rem 2rem;
  border-radius: 20px;
  font-weight: bold;
}

.form button:hover,
.form button:active {
  background-color: #67ad1c;
  border-color: #326100;
}